<!doctype html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <title>AngularJS Email App</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

FirstName: <input type="text" ng-model="firstName"/>
LastName: <input type="text" ng-model="lastName"/>
Hello {{firstName}} {{lastName}}
<br/>
<br/>
Name: <input type="text" ng-model="world"/>
Hello {{world}}

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js"></script>
<!--<script src="js/app.js"></script>-->

</body>
</html>